@charset "UTF-8";
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .main__grid-menu {
  width: 100%;
}

@media all and (min-width: 540px) {
  .main__grid-menu {
    max-width: 480px;
    display: flex;
    flex-flow: row wrap;
  }
}
@media all and (min-width: 720px) {
  .main__grid-menu {
    max-width: 607px;
  }
}
/*_________________________________
menu-1-content: La note enchantée
_________________________________*/
.main__menu-1-content,
.main__menu-2-content,
.main__menu-3-content,
.main__menu-4-content,
.main__mentions-legales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 85px;
}

/*_________________________________
mentions legales
_________________________________*/
.main__mentions-legales {
  max-width: 518px;
  margin: auto;
}

.menu-1 h1 {
  font-family: "Kalam", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #3c1218;
  font-size: 1.7rem;
  margin: 0;
}
.menu-1 h2 {
  font-family: "Devonshire", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #3c1218;
  margin: 3px 0 15px 0;
}

.menu-2 h1 {
  font-family: "Vidaloka", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #c67412;
  font-size: 1.7rem;
  margin: 0;
}
.menu-2 h2 {
  font-family: "Kurale", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background: linear-gradient(to bottom right, #c67412, #6e4ccc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 1rem;
  margin: 3px 0 15px 0;
  width: 100%;
}

.menu-3 h1 {
  font-family: "Kalam", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #0887fb;
  font-size: 1.7rem;
  margin: 0;
}
.menu-3 h2 {
  font-family: "Dancing Script", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background: linear-gradient(to bottom right, #0431df, #0887fb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 1rem;
  margin: 3px 0 15px 0;
  width: 100%;
}

.menu-4 h1 {
  font-family: "Kalam", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #42973c;
  font-size: 1.7rem;
  margin: 0;
}
.menu-4 h2 {
  font-family: "Kaushan Script", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background: linear-gradient(to bottom right, #42973c, #bfff7e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 1rem;
  margin: 3px 0 15px 0;
  width: 100%;
}

@media all and (min-width: 720px) {
  .main__grid-menu h1 {
    font-size: 2rem;
  }
}
.btn-soon {
  font-size: 1.5em;
  font-family: sans-serif, Arial, Helvetica;
  color: #fdcb46;
  margin-left: 5%;
  margin-right: 5%;
}

.footer__link {
  font-size: 1em;
  font-family: sans-serif, Arial, Helvetica;
  color: #fdcb46;
  margin-left: 5%;
  margin-right: 5%;
}

/*_________________________________
menu-1-content: La note enchantée
_________________________________*/
.main__menu-1-content h1,
.main__menu-2-content h1,
.main__menu-3-content h1,
.main__menu-4-content h1,
.main__mentions-legales h1 {
  font-family: "Montserrat", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.25em;
}

.menu-1-content h2 {
  font-family: "Devonshire", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #3c1218;
  font-size: 2.5em;
  margin: 3px 0;
  height: 50px;
}

.menu-1-content article {
  font-family: "Kalam", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.menu-1-content article h3,
.menu-1-content article .price {
  font-weight: bold;
}
.menu-1-content article li .item {
  font-weight: lighter;
}

/*_________________________________
menu-2-content: Le chic à la française
_________________________________*/
.menu-2-content h2 {
  font-family: "Kurale", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background: linear-gradient(to bottom right, #c67412, #6e4ccc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 2.3rem;
  margin: 3px 0 15px 0;
  width: 100%;
  height: 50px;
  margin: 75px 0 15px 0;
}

.menu-2-content article h3,
.menu-2-content article .price,
.menu-2-content article p {
  font-family: "Crimson Text", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: normal;
}
.menu-2-content article h3 {
  font-weight: bold;
}

/*_________________________________
menu-3-content: Le délice des papilles
_________________________________*/
.menu-3-content h2 {
  font-family: "Dancing Script", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background: linear-gradient(to bottom right, #0431df, #0887fb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 2.3rem;
  margin: 3px 0 15px 0;
  width: 100%;
  height: 50px;
  margin: 75px 0 15px 0;
}

.menu-3-content article,
.menu-4-content article {
  font-family: "Kalam", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.menu-3-content article h3,
.menu-3-content article .item,
.menu-4-content article h3,
.menu-4-content article .item {
  font-weight: lighter;
}
.menu-3-content article li .price,
.menu-4-content article li .price {
  font-weight: normal;
}

/*_________________________________
menu-4-content: La palette du goût
_________________________________*/
.menu-4-content h2 {
  font-family: "Kaushan Script", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background: linear-gradient(to bottom right, #42973c, #bfff7e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 2.3rem;
  margin: 3px 0 15px 0;
  width: 100%;
  height: 50px;
  margin: 75px 0 15px 0;
}

/*_________________________________
mentions legales
_________________________________*/
.main__mentions-legales h2,
.main__mentions-legales p {
  font-family: Verdana, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 0.7em;
}
.main__mentions-legales p {
  font-size: 1em;
}

.btn-soon__container {
  width: 100%;
  height: 157px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 54px;
}
.btn-soon__container .btn-soon {
  width: 258px;
  height: 46px;
  background-color: #579c87;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__central-block {
  height: 100%;
  width: 100%;
  transition: transform 300ms, opacity 250ms 50ms;
}
.menu__central-block:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.btn-soon:after {
  content: " .";
  animation: dots 2s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #fdcb46;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 #fdcb46;
  }
}
.footer__link:hover {
  animation: shake 0.82s cubic-bezier(0, 0.78, 0.54, 0.1) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  0% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
header {
  background-color: #579c87;
  width: 100%;
  height: 98px;
  display: flex;
}

.header__link {
  height: 43px;
  margin: auto;
}
.header__link .header__logo {
  height: 43px;
}

@media all and (min-width: 720px) {
  .header__link {
    height: 50px;
  }
  .header__link .header__logo {
    height: 50px;
  }
}
.footer__container {
  background-color: #579c87;
  width: 100%;
  height: 54px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer__container footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  max-width: 720px;
}

.menu-1 {
  width: 200px;
  height: 282px;
  box-shadow: 0 0 7px #dddddd;
  margin: auto;
  margin-top: 32px;
  background-color: #fcdfdb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-1 img {
  width: 32px;
}

.menu-2 {
  width: 200px;
  height: 282px;
  box-shadow: 0 0 7px #dddddd;
  margin: auto;
  margin-top: 32px;
  background-color: #fff5fe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-3 {
  width: 200px;
  height: 282px;
  box-shadow: 0 0 7px #dddddd;
  margin: auto;
  margin-top: 32px;
  background-color: #eef0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-4 {
  width: 200px;
  height: 282px;
  box-shadow: 0 0 7px #dddddd;
  margin: auto;
  margin-top: 32px;
  background-color: #fdfffd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 720px) {
  .menu-1,
.menu-2,
.menu-3,
.menu-4 {
    width: 270px;
    height: 381px;
  }
}
.menu__central-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.main_menu-1 h1 {
  margin: 20px;
}

.menu-1-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 7px #dddddd;
  margin-bottom: 80px;
  background-color: #fcdfdb;
  padding-bottom: 39px;
  max-width: 518px;
  padding-left: 10%;
  padding-right: 10%;
}
.menu-1-content > img {
  width: 64px;
  margin-top: 47px;
}

article {
  display: flex;
  flex-direction: column;
}

.menu-1-content__title,
.menu-2-content__title,
.menu-3-content__title,
.menu-4-content__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-1-content__title img,
.menu-2-content__title img,
.menu-3-content__title img,
.menu-4-content__title img {
  width: 24%;
  margin: 40px 0 10px 0;
}
.menu-1-content__title h3,
.menu-2-content__title h3,
.menu-3-content__title h3,
.menu-4-content__title h3 {
  text-align: center;
  margin: 40px 0 10px 0;
}

@media all and (min-width: 540px) {
  .menu-1-content__title img {
    width: 30%;
  }
}
@media all and (min-width: 720px) {
  .menu-1-content__title img {
    width: 34%;
  }
}
li {
  list-style-type: none;
}

ul {
  padding-inline-start: 0;
  margin: 0;
  text-align: center;
}

@media all and (min-width: 540px) {
  li {
    display: flex;
    justify-content: space-between;
  }

  ul {
    text-align: left;
    margin: 0;
  }
}
.menu-1-content__logo-bottom {
  display: flex;
  align-items: center;
  margin-top: 36px;
}
.menu-1-content__logo-bottom img {
  width: 36px;
  margin-right: 5px;
}
.menu-1-content__logo-bottom h2 {
  font-size: 1.6em;
  margin: 0;
}

/*_________________________________
menu-2-content: Le chic à la française
_________________________________*/
.menu-2-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 7px #dddddd;
  margin-bottom: 80px;
  background-color: #fff5fe;
  padding-bottom: 39px;
  max-width: 518px;
  padding-left: 10%;
  padding-right: 10%;
}

.Pour-se-mettre-en-appetit {
  color: #c67412;
  margin-top: 20px;
}

.Plaisir-des-papilles {
  color: #a56799;
}

.Gourmandises-sucrees {
  color: #6e4ccc;
  margin-bottom: 80px;
}

.menu-2-content__title .dec-left,
.menu-3-content__title .dec-left,
.menu-4-content__title .dec-left {
  position: relative;
  left: -8px;
}
.menu-2-content__title .dec-right,
.menu-3-content__title .dec-right,
.menu-4-content__title .dec-right {
  position: relative;
  right: -8px;
}

@media all and (min-width: 540px) {
  .menu-2-content__title .dec-left,
.menu-3-content__title .dec-left,
.menu-4-content__title .dec-left {
    left: -31px;
    width: 31%;
  }
  .menu-2-content__title .dec-right,
.menu-3-content__title .dec-right,
.menu-4-content__title .dec-right {
    right: -31px;
    width: 31%;
  }
}
/*_________________________________
menu-3-content: Le délice des papilles
_________________________________*/
.menu-3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 7px #dddddd;
  margin-bottom: 80px;
  background-color: #eef0f0;
  padding-bottom: 39px;
  max-width: 518px;
  padding-left: 10%;
  padding-right: 10%;
}

.pour-bien-commencer,
.main__menu-4-content {
  margin-top: 20px;
}

.gourmandises-sucrees,
.au-sommet-de-l-art {
  margin-bottom: 80px;
}

/*_________________________________
menu-4-content: La palette du goût
_________________________________*/
.menu-4-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 7px #dddddd;
  margin-bottom: 80px;
  background-color: #fdfffd;
  padding-bottom: 39px;
  max-width: 518px;
  padding-left: 10%;
  padding-right: 10%;
}

@media all and (min-width: 720px) {
  .menu-1-content,
.menu-2-content,
.menu-3-content,
.menu-4-content {
    padding-left: 70px;
    padding-right: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
