header {
  background-color: $color-primary;
  width: 100%;
  height: 98px;
  display: flex;
}
.header__link {
  height: 43px;
  margin: auto;
  .header__logo {
    height: 43px;
  }
}
//mediaquerises a partir de 720px
@media all and (min-width: 720px) {
  .header__link {
    height: 50px;
    .header__logo {
      height: 50px;
    }
  }
}
