.btn-soon {
  width: 258px;
  height: 46px;
  background-color: $color-primary;
  margin: auto;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 40px;
}
