.container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.main {
  @include center-column;
  .main__grid-menu {
    width: 100%;
  }
}
//mediaquerises a partir de 540px
@media all and (min-width: 540px) {
  .main__grid-menu {
    max-width: 480px;
    display: flex;
    flex-flow: row wrap;
  }
}
//mediaquerises a partir de 720px
@media all and (min-width: 720px) {
  .main__grid-menu {
    max-width: 607px;
  }
}

/*_________________________________
menu-1-content: La note enchantée
_________________________________*/

//Pour centrer les menu-content
.main__menu-1-content,
.main__menu-2-content,
.main__menu-3-content,
.main__menu-4-content,
.main__mentions-legales {
  @include center-column;
  padding: 20px;
  padding-bottom: 85px;
}

/*_________________________________
mentions legales
_________________________________*/

.main__mentions-legales {
  max-width: 518px;
  margin: auto;
}
