//menu-1
.menu-1 {
  h1 {
    @include typography-h1_primary(
      $font-family_menu_primary,
      $color-menu1__text-primary
    );
  }
  h2 {
    @include font-family($font-family_menu-1_secondary);
    color: $color-menu1__text-primary;
    margin: 3px 0 15px 0;
  }
}

//menu-2
.menu-2 {
  h1 {
    @include typography-h1_primary(
      $font-family_menu_secondary,
      $color-menu2__text-primary
    );
  }
  h2 {
    @include typography-h2_primary(
      $font-family_menu-2_secondary,
      $color-menu2__text-primary,
      $color-menu2__text-secondary
    );
  }
}

//menu-3
.menu-3 {
  h1 {
    @include typography-h1_primary(
      $font-family_menu_primary,
      $color-menu3__text-primary
    );
  }
  h2 {
    @include typography-h2_primary(
      $font-family_menu-3_secondary,
      $color-menu3__text-secondary,
      $color-menu3__text-primary
    );
  }
}

//menu-4
.menu-4 {
  h1 {
    @include typography-h1_primary(
      $font-family_menu_primary,
      $color-menu4__text-primary
    );
  }
  h2 {
    @include typography-h2_primary(
      $font-family_menu-4_secondary,
      $color-menu4__text-primary,
      $color-menu4__text-secondary
    );
  }
}

//mediaquerises a partir de 720px
@media all and (min-width: 720px) {
  .main__grid-menu h1 {
    font-size: 2rem;
  }
}

//bouton prochainement...
.btn-soon {
  @include typography-body($size: 1.5em);
}

//footer
.footer__link {
  @include typography-body;
}

/*_________________________________
menu-1-content: La note enchantée
_________________________________*/

.main__menu-1-content,
.main__mentions-legales {
  h1 {
    @include font-family($font-family_menu-content_h1);
    font-size: 1.25em;
  }
}
.menu-1-content {
  h2 {
    @include font-family($font-family_menu_primary);
    font-weight: normal;
    font-size: 1.5em;
    margin: 3px 0;
  }
}

article {
  h3,
  .price,
  p {
    @include font-family($font-family_menu_primary);
    font-weight: normal;
  }
  p {
    font-weight: lighter;
  }
}

/*_________________________________
mentions legales
_________________________________*/

.main__mentions-legales {
  h2,
  p {
    @include font-family(Verdana);
    font-size: 0.7em;
  }
  p {
    font-size: 1em;
  }
}
