.layout-menu {
  width: 200px;
  height: 282px;
  box-shadow: 0 0 7px $color-shadow;
  margin: auto;
  margin-top: 32px;
  background-color: $color-menu1;
  @include center-column;
  img {
    width: 32px;
  }
}
@media all and (min-width: 720px) {
  .layout-menu {
    width: 270px;
    height: 381px;
  }
}
.layout-menu--menu-2 {
  background-color: $color-menu2;
}
.layout-menu--menu-3 {
  background-color: $color-menu3;
}
.layout-menu--menu-4 {
  background-color: $color-menu4;
}

.layout-menu__inside {
  @include center-column;
}

a {
  text-decoration: none;
}
