.main_menu-1 {
  h1 {
    margin: 20px;
  }
}
.menu-1-content {
  @include layout-menu-content($color-menu1);
  > img {
    width: 64px;
    margin-top: 47px;
  }
}

article {
  display: flex;
  flex-direction: column;
}

.menu-1-content__title,
.menu-2-content__title,
.menu-3-content__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 24%;
    margin: 40px 0 10px 0;
  }
  h3 {
    text-align: center;
    margin: 40px 0 10px 0;
  }
}

@media all and (min-width: 540px) {
  .menu-1-content__title {
    & img {
      width: 30%;
    }
  }
}

@media all and (min-width: 720px) {
  .menu-1-content__title {
    & img {
      width: 34%;
    }
  }
}

li {
  list-style-type: none;
}
ul {
  padding-inline-start: 0;
  margin: 0;
  text-align: center;
}
@media all and (min-width: 540px) {
  li {
    display: flex;
    justify-content: space-between;
  }
  ul {
    text-align: left;
    margin: 0;
  }
}
.menu-1-content__logo-bottom {
  display: flex;
  align-items: center;
  margin-top: 36px;
  img {
    width: 36px;
    margin-right: 5px;
  }
  h2 {
    font-size: 1.6em;
    margin: 0;
  }
}

/*_________________________________
menu-2-content: Le chic à la française
_________________________________*/

.menu-2-content {
  @include layout-menu-content($color-menu2);
}

// Les articles du menu-2
.Pour-se-mettre-en-appetit {
  color: $color-menu2__text-primary;
  margin-top: 20px;
}
.Plaisir-des-papilles {
  color: $color-menu2__text-tertiary;
}
.Gourmandises-sucrees {
  color: $color-menu2__text-secondary;
  margin-bottom: 80px;
}

//les elements decoratifs
.menu-2-content__title,
.menu-3-content__title {
  .dec-left {
    position: relative;
    left: -8px;
  }
  .dec-right {
    position: relative;
    right: -8px;
  }
}
@media all and (min-width: 540px) {
  .menu-2-content__title,
  .menu-3-content__title {
    .dec-left {
      left: -31px;
      width: 31%;
    }
    .dec-right {
      right: -31px;
      width: 31%;
    }
  }
}

/*_________________________________
menu-3-content: Le délice des papilles
_________________________________*/

.menu-3-content {
  @include layout-menu-content($color-menu3);
}

@media all and (min-width: 720px) {
  .menu-1-content,
  .menu-2-content,
  .menu-3-content {
    padding-left: 70px;
    padding-right: 70px;
  }
}

// Les articles du menu-3

.pour-bien-commencer {
  margin-top: 20px;
}
.gourmandises-sucrees {
  margin-bottom: 80px;
}
