.main_menu-1 {
  h1 {
    margin: 20px;
  }
}
.menu-1-content {
  @include layout-menu-content($color-menu1);
  > img {
    width: 47px;
    margin-top: 28px;
  }
}
@media all and (min-width: 720px) {
  .menu-1-content {
    padding-left: 70px;
    padding-right: 70px;
  }
}
article {
  display: flex;
  flex-direction: column;
}

.menu-1-content__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & img {
    width: 24%;
    margin: 40px 0 10px 0;
  }
  & h3 {
    text-align: center;
    margin: 40px 0 10px 0;
  }
}

@media all and (min-width: 540px) {
  .menu-1-content__title {
    & img {
      width: 30%;
    }
  }
}

@media all and (min-width: 720px) {
  .menu-1-content__title {
    & img {
      width: 34%;
    }
  }
}

li {
  list-style-type: none;
}
ul {
  padding-inline-start: 0;
  margin: 0;
  text-align: center;
}
@media all and (min-width: 540px) {
  li {
    display: flex;
    justify-content: space-between;
  }
  ul {
    text-align: left;
    margin: 0;
  }
}
.menu-1-content__logo-bottom {
  display: flex;
  align-items: center;
  margin-top: 36px;
  img {
    width: 29px;
    margin-right: 5px;
  }
  h2 {
    font-size: 1.3em;
    margin: 0;
  }
}
