// pour centrer
@mixin center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// degrade pour les titre "h2"
@mixin color-text-gradient(
  $color-menu__text-primary,
  $color-menu__text-secondary
) {
  background: linear-gradient(
    to bottom right,
    $color-menu__text-primary,
    $color-menu__text-secondary
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

// groupe de "font-family"
@mixin font-family($font-family: $font-primary) {
  font-family: $font-family, "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial;
}
