$color-primary: #579c87;
$color-secondary: #fdcb46;

$font-family_menu_primary: "Kalam";
$font-family_menu_secondary: "Vidaloka";

$color-menu1: #fcdfdb;
$color-menu1__text-primary: #3c1218;
$font-family_menu-1_secondary: "Devonshire";

$color-menu2: #fff5fe;
$color-menu2__text-primary: #c77412;
$color-menu2__text-secondary: #905bfd;
$font-family_menu-2_secondary: "Kurale";

$color-menu3: #f9f9f9;
$color-menu3__text-primary: #0887fb;
$color-menu3__text-secondary: #0431df;
$font-family_menu-3_secondary: "Dancing Script";

$color-menu4: #fdfffd;
$color-menu4__text-primary: #42973c;
$color-menu4__text-secondary: #bfff7e;
$font-family_menu-4_secondary: "Kaushan Script";

$color-shadow: #dddddd;
$font-size: 1em;

$color-test: red;
$color-test2: blue;

$font-family_menu-content_h1: "Montserrat";

$white: #ffffff;
