$color-primary: #579c87;
$color-secondary: #fdcb46;

$font-primary: sans-serif;
$font-size-primary: 1em;
$color-shadow: #dddddd;

$font-family_menu_primary: "Kalam";
$font-family_menu_secondary: "Vidaloka";

//menu-1
$color-menu1: #fcdfdb;
$color-menu1__text-primary: #3c1218;
$font-family_menu-1_secondary: "Devonshire";

//menu2
$color-menu2: #fff5fe;
$color-menu2__text-primary: #c67412;
$color-menu2__text-secondary: #6e4ccc;
$color-menu2__text-tertiary: #a56799;
$font-family_menu-2_secondary: "Kurale";

//menu3
$color-menu3: #eef0f0;
$color-menu3__text-primary: #0887fb;
$color-menu3__text-secondary: #0431df;
$font-family_menu-3_secondary: "Dancing Script";

//menu4
$color-menu4: #fdfffd;
$color-menu4__text-primary: #42973c;
$color-menu4__text-secondary: #bfff7e;
$font-family_menu-4_secondary: "Kaushan Script";

//h1 des "content"
$font-family_menu-content_h1: "Montserrat";
// textes du "menu2-content"
$font-family_menu-content_menu-2_primary: "Crimson Text";

$black: #000000;
